{
  "ignorePatterns": ["packages/*"],
  "overrides": [
    {
      "files": "examples/react/**",
      "extends": ["taro/react"],
      "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "jsx-quotes": 0
      }
    },
    {
      "files": "examples/vue3/**",
      "extends": ["taro/vue3"]
    }
  ]
}
